.selectField {
  margin: 20px 0;
}

.selectField label {
  display: block;
  font-size: 1rem;
}

.selectField select {
  width: 100%;
  height: 46px;
  margin: 5px 0;
  font-size: 1rem;
  padding: 2px 5px;
  cursor: pointer;
  line-height: 1.1;
}
